{% extends 'common/base.html' %}
{% block content %}
    
    <main class="logout-art">
        <h2>Сигурен ли си че искаш да излезеш от акаунта си?</h2>
        
        <div class="form-wrapper">
            <form action="{% url 'logout-by-me' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button class="logout-btn"><i class="fa-solid fa-check"></i>Да</button>
            </form>
            <a href="javascript:history.back()"><button class="no-btn"><i class="fa-solid fa-x"></i>Не</button></a>
        </div>
    </main>
    
{% endblock %}