.registration-btn {
    text-align: center;
    margin-top: 1.5em;
    text-decoration: none;
    padding: 0.6em 0.5em;
    background: darkorange;
    color: white;
    border-radius: 1em;
}

#password {
    margin-bottom: 2em;
}

.registration-btn:hover {
    opacity: 0.6;
    transition: ease-in-out 0.4s;
}