.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.8em;
    gap: 1.3em;
    margin-bottom: 2em;
}

.contact-container h2 {
    margin-top: 1em;
}

.a-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    max-width: 300px;
    text-align: center;
    margin-bottom: 2.9em;
}

.a-links > a {
    text-decoration: none;
}

.instagram {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
}

.facebook {
    background: #0766FF;
    color: white;
}

.gmail {
    background: #DE5347;
    color: white;
}

.discord {
    background: #5562EB;
    color: white;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon {
    text-align: center;
    padding: 0.9em;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.3em;
}

.icon > i {
    font-size: 2em;
    margin-bottom: 0.2em;
}

h5 {
    margin: 1em 0;
}

.social-media h2 {
    font-size: 2.3em;
    margin-bottom: 1em;
}

@media (max-width: 786px) {
    .social-media > h2, .contact-container {
        text-align: center;
    }
}