.img-wrapper img {
    width: 900px;
    height: 700px;
    object-fit: cover;
    border-radius: 1em;
}

.item-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 97dvh;
}

.text-wrapper {
    max-width: 500px; 
    font-size: 1.3em;
    font-weight: 400;
}

.text-wrapper h1 {
    margin-bottom: 0.5em;
}

.text-wrapper p {
    margin: 1em 0;
}

.text-wrapper > form > button {
    background: darkorange;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 12px;
    border-radius: 0.6em;
    width: 100%;
    border: none;
    font-size: 0.9em;
}

.text-wrapper > h3 {
    margin-bottom: 0.5em;
}

.text-wrapper ul li {
    margin-left: 2em;
}

.text-wrapper ul li:last-child {
    margin-bottom: 1.5em;
}

.gallery {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.8;
    transition: transform 0.2s, opacity 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
    opacity: 1;
}

.price {
    text-align: center;
    color: brown;
    font-weight: bold;
}

.text-wrapper > form > button:hover {
    opacity: 0.7;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.buy-btn > i {
    margin-right: 0.5em;
    text-align: center;
}

.reviews-div {
    text-align: center;
    margin: 3em 0;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.opinion-form {
    width: 40%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 0.7em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

.opinion-form > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opinion-form > div > input {
    width: 60%;
    margin: 1em auto;
    padding: 0.7em 1.1em;
    border: 1px solid lightgray;
    border-radius: 0.8em;
}

.opinion-form > div > label {
    font-size: 0.9em;
    margin-top: 0.5em;
}

.star-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    gap: 1em;
    font-size: 1.2em;
}

.opinion-btn-submit {
    width: 50%;
    margin: 0 auto;
    background: darkorange;
    color: white;
    border: none;
    padding: 0.7em 0.9em;
    border-radius: 1.2em;
}

.opinion-btn-submit:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.opinion-form > div > fieldset {
    border: none;
}

.opinion-form > div > fieldset > legend {
    display: none;
}

.star-rating > div:first-child  {
    display: none;
}

.opinion-form > div:nth-child(2) {
    margin-bottom: 1em;
}

.star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}