.img-wrapper img {
    width: 900px;
    height: 700px;
    object-fit: cover;
    border-radius: 1em;
}

.item-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 97dvh;
}

.text-wrapper {
    max-width: 500px; 
    font-size: 1.3em;
    font-weight: 400;
}

.text-wrapper h1 {
    margin-bottom: 0.5em;
}

.text-wrapper p {
    margin: 1em 0;
}

.text-wrapper > form > button {
    background: darkorange;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 12px;
    border-radius: 0.6em;
    width: 100%;
    border: none;
    font-size: 0.9em;
}

.text-wrapper > h3 {
    margin-bottom: 0.5em;
}

.text-wrapper ul li {
    margin-left: 2em;
}

.text-wrapper ul li:last-child {
    margin-bottom: 1.5em;
}

.gallery {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.8;
    transition: transform 0.2s, opacity 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
    opacity: 1;
}

.price {
    text-align: center;
    color: brown;
    font-weight: bold;
}

.text-wrapper > form > button:hover {
    opacity: 0.7;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.buy-btn > i {
    margin-right: 0.5em;
    text-align: center;
}

.reviews-div {
    text-align: center;
    margin: 3em 0;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.opinion-form {
    margin-top: 1em;
}