{% extends 'base.html' %}
{% load calculate_euro %}
{% block content %}
    
    <section class="filters">
        <select name="filters" id="filters">
            <option value="По подразбиране">Подреждане по подразбиране</option>
            <option value="Първо най-популярните">Първо най-популярните</option>
            <option value="Първо най-новите">Първо най новите</option>
            <option value="Първо най-скъпите">Първо най-скъпите</option>
            <option value="Първо най-евтините">Първо най-евтините</option>
        </select>
    </section>
    <section class="sell-items">
        {% for product in all_products_queryset %}

        <section class="item-for-sale">
            <img src="{{ product.product_image.url }}" alt="{{ product.product_description }}">
            <div class="text-items">
                <h2>{{ product.product_description }}</h2>
                {% if product.product_type == 'Сапуни' %}
                    <p><a href="{% url 'soaps' %}">{{ product.product_type }}</a></p>
                    
                {% elif product.product_type == 'Украси' %}    
                    <p><a href="{% url 'decorations' %}">{{ product.product_type }}</a></p>
                    
                {% elif product.product_type == 'Подаръчни комплекти' %}    
                    <p><a href="{% url 'gift-sets' %}">{{ product.product_type }}</a></p>
                    
                {% endif %}
                <p>{{ product.product_price }}лв/{{ product.product_price|to_eur }}€</p>
                <p>Курс: 1 EUR = 1.95583 BGN</p>
                
                {% if product.is_available %}
                
                    <p>В наличност ✅</p>
                
                {% else %}
                    <p>Не е в наличност ❎</p>
                
                {% endif %}
                <a href="{% url 'product-details' product.pk %}">Виж повече</a>
            </div>
        </section>
            
       {% empty %}
            <p class="nothing-here">Все още няма въведени продукти или търсенето беше неправилно! 😔</p>
             <a href="javascript:history.back()">Върни се обратно</a>
    {% endfor %}
    
    </section>
    
      <div class="pagination"> 
            <span class="current"> 
                Страница {{ all_products_queryset.number }} от {{ all_products_queryset.paginator.num_pages }} 
            </span> 
            <span class="step-links-buttons"> 
                {% if all_products_queryset.has_previous and all_products_queryset.has_next %} 
                    <a href="?page={{ all_products_queryset.previous_page_number }}"> 
                        <i class="fa-solid fa-arrow-left"></i> </a> 
                    <a href="?page={{ all_products_queryset.next_page_number }}"> 
                        <i class="fa-solid fa-arrow-right"></i> </a> 
                {% elif all_products_queryset.has_previous %} 
                    <a href="?page={{ all_products_queryset.previous_page_number }}"> 
                        <i class="fa-solid fa-arrow-left"></i> </a> 
                {% elif all_products_queryset.has_next %} 
                    <a href="?page={{ all_products_queryset.next_page_number }}"> 
                        <i class="fa-solid fa-arrow-right"></i> </a> 
                {% endif %} 
            </span> 
        </div> 
{% endblock %}