{% extends 'base.html' %}
{% load calculate_euro %}
{% block content %}
    
    {% if cart_queryset_for_user %}
    <div class="articles-wrap">
        <article class="cart-table">
            <h2>Вашата количка</h2>
            
            
            <table>
                <thead>
                    <tr>
                        <th>Продукт</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th class="sum">Общо</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in cart_queryset_for_user %}
                    <tr>
                        <td><img src="{{ product.product_image_cart.url }}" alt=""> {{ product.product_description_cart }}</td>
                        <td>{{ product.product_price_cart }}лв/{{ product.product_price_cart|to_eur }}€</td>
                        <td class="quantity"><p>1</p></td>
                        <td class="sum-price">{{ product.product_price_cart }}лв/{{ product.product_price_cart|to_eur }}€</td>
                        <td><a href="{% url 'remove-cart-product' product.id %}"><i class="fa-solid fa-xmark"></i></a></td>
                    </tr>
                </tbody>
                {% endfor %}
                
            </table>
        </article>
        
        <section class="summary">
            <div class="delivery">
                <h2>Резюме на поръчката</h2>
            </div>
            <hr>
            <div class="shipping-subtotal-wrap">
                <div class="subtotal-wrap">
                    <p>Междинна сума</p>
                    
                    <p>{{ sum_of_products }}лв/{{ sum_of_products|to_eur }}€</p>
                </div>
                
                <div class="shipping-wrap">
                    <p>Доставка</p>
                    
                    <p>3.00лв/1.53€</p>
                </div>
            </div>
            <hr>
            
            <div class="total-wrap">
                <p class="sum-text-wrap">Общо</p>
                
                <p class="p-total">{{ sum_with_delivery }}лв/{{ sum_with_delivery|to_eur }}€</p>
            </div>
            <a href="{% url 'finish-cart' %}" class="buy-btn"><p>Поръчай</p></a>

        </section>
    </div>
    <div class="div-for-style"></div>
        
    {% else %}
        <main class="sad-main">
            <i class="fa-solid fa-face-frown"></i>
            <h3>Все още няма нищо във вашата количка</h3>
        
            <a href="javascript:history.back()">Върни се обратно</a>
        </main>
    <div class="div-for-style" style="min-height: 10dvh"></div>
        
    {% endif %}
    
{% endblock %}