{% extends 'base.html' %}

{% block content %}
    
    <article class="contact-container">
        <h2>Контакти</h2>
        <p>☎️ Телефон за връзка - +359 87 860 1157</p>
        
        <p>✉️ Имейл - rrirrirri08@gmail.com</p>
        
        <p>🕑 Работно време - Доставката е онлайн до 17 часа</p>
    </article>
    
    <article class="social-media">
        <h2>Имате въпрос? Свържете се с нас сега!</h2>
        <div class="a-links">
            <a href="https://www.instagram.com/rosko.r.i.6/">
                <div class="instagram icon">
                    <i class="fa-brands fa-instagram"></i>
                    <p>Instagram</p>
                </div>
            </a>
            
            <a href="https://www.facebook.com/profile.php?id=100019817384349&name=xhp_nt__fb__action__open_user">
                <div class="facebook icon">
                    <i class="fa-brands fa-facebook"></i>
                    <p>Facebook</p>
                </div>
            </a>
            
            <a href="" onclick="copyGmail()">
                <div class="gmail icon">
                    <i class="fa-solid fa-envelope"></i>
                    <p>Gmail</p>
                </div>
            </a>
            
            <a href="" onclick="copyDiscordUsername()">
                <div class="discord icon">
                    <i class="fa-brands fa-discord"></i>
                    <p>Discord</p>
                </div>
            </a>
        </div>
    </article>
    
{% endblock %}