{% extends 'base.html' %}

{% block content %}
    
    <section class="filters">
        <select name="filters" id="filters">
            <option value="По подразбиране">Подреждане по подразбиране</option>
            <option value="Първо най-популярните">Първо най-популярните</option>
            <option value="Първо най-новите">Първо най новите</option>
            <option value="Първо най-скъпите">Първо най-скъпите</option>
            <option value="Първо най-евтините">Първо най-евтините</option>
        </select>
    </section>
    
    <section class="sell-items">
        <section class="item-for-sale">
            <img src="../static/images/IMG_4230.jpg" alt="">
            <div class="text-items">
                <h2>Украса във формата на книга</h2>
                <p><a href="">Украси</a></p>
                <p>25.99лв/13.29€</p>
                <p>Курс: 1 EUR = 1.95583 BGN</p>
                <p>В наличност ✅</p>
                <a href="">Виж повече</a>
            </div>
        </section>
        
        <section class="item-for-sale">
            <img src="../static/images/IMG_4230.jpg" alt="">
            <div class="text-items">
                <h2>Украса във формата на книга</h2>
                <p><a href="">Украси</a></p>
                <p>25.99лв/13.29€</p>
                <p>Курс: 1 EUR = 1.95583 BGN</p>
                <p>В наличност ✅</p>
                <a href="">Виж повече</a>
            </div>
        </section>
        
        <section class="item-for-sale">
            <img src="../static/images/IMG_4230.jpg" alt="">
            <div class="text-items">
                <h2>Украса във формата на книга</h2>
                <p><a href="">Украси</a></p>
                <p>25.99лв/13.29€</p>
                <p>Курс: 1 EUR = 1.95583 BGN</p>
                <p>В наличност ✅</p>
                <a href="">Виж повече</a>
            </div>
        </section>
        
        <section class="item-for-sale">
            <img src="../static/images/IMG_4230.jpg" alt="">
            <div class="text-items">
                <h2>Украса във формата на книга</h2>
                <p><a href="">Украси</a></p>
                <p>25.99лв/13.29€</p>
                <p>Курс: 1 EUR = 1.95583 BGN</p>
                <p>В наличност ✅</p>
                <a href="">Виж повече</a>
            </div>
        </section>
        
        <section class="item-for-sale">
            <img src="../static/images/IMG_4230.jpg" alt="">
            <div class="text-items">
                <h2>Украса във формата на книга</h2>
                <p><a href="">Украси</a></p>
                <p>25.99лв/13.29€</p>
                <p>Курс: 1 EUR = 1.95583 BGN</p>
                <p>В наличност ✅</p>
                <a href="">Виж повече</a>
            </div>
        </section>
        
        <section class="item-for-sale">
            <img src="../static/images/IMG_4230.jpg" alt="">
            <div class="text-items">
                <h2>Украса във формата на книга</h2>
                <p><a href="">Украси</a></p>
                <p>25.99лв/13.29€</p>
                <p>Курс: 1 EUR = 1.95583 BGN</p>
                <p>В наличност ✅</p>
                <a href="">Виж повече</a>
            </div>
        </section>
        
        <section class="item-for-sale">
            <img src="../static/images/IMG_4230.jpg" alt="">
            <div class="text-items">
                <h2>Украса във формата на книга</h2>
                <p><a href="">Украси</a></p>
                <p>25.99лв/13.29€</p>
                <p>Курс: 1 EUR = 1.95583 BGN</p>
                <p>В наличност ✅</p>
                <a href="">Виж повече</a>
            </div>
        </section>
        
        <section class="item-for-sale">
            <img src="../static/images/IMG_4230.jpg" alt="">
            <div class="text-items">
                <h2>Украса във формата на книга</h2>
                <p><a href="">Украси</a></p>
                <p>25.99лв/13.29€</p>
                <p>Курс: 1 EUR = 1.95583 BGN</p>
                <p>В наличност ✅</p>
                <a href="">Виж повече</a>
            </div>
        </section>
    </section>

{% endblock %}