{% extends 'base.html' %}

{% block content %}
    <section>
        <img src="../static/images/image.png" class="big-img" alt="">
        
        <p class="p-relative">ИЗЦЯЛО ДОМАШНО НАПРАВЕНИ САПУНИ И УКРАСИ</p>
        <a href="{% url 'all-products' %}">Виж Тук</a>
    </section>
    
    <section>
        <h2>Защо да изберете нашите сапуни 🧼 и украси 🎀?</h2>
        
        <ol>
            <li>Всеки продукт е изцяло ръчно изработен с внимание към детайла и много любов ✅</li>
            <li>Използвам само естествени материали, за да бъдат сапуните нежни към кожата и безопасни за цялото семейство ✅</li>
            <li>Уникалните украси пък носят усмивки и уют във всеки дом ✅</li>
        </ol>
    </section>
    
    
    <section class="categories">
        <h2 class="category-text">Категории продукти</h2>
        <div class="category-list">
            <div class="category-item">
                <img src="../static/images/IMG_4225.jpg" alt="Сапуни">
                <h3>Сапуни</h3>
                <p>Ръчно изработени сапуни с натурални съставки.</p>
                <a href="{% url 'soaps' %}">Виж повече</a>
            </div>
            <div class="category-item">
                <img src="../static/images/IMG_4228.jpg" alt="Украси">
                <h3>Украси</h3>
                <p>Красиви декорации за дома и подаръци.</p>
                <a href="{% url 'decorations' %}">Виж повече</a>
            </div>
            <div class="category-item">
                <img src="../static/images/IMG_4229.jpg" alt="Подаръчни комплекти">
                <h3>Подаръчни комплекти</h3>
                <p>Специални комплекти за подарък, готови за радост.</p>
                <a href="{% url 'gift-sets' %}">Виж повече</a>
            </div>
        </div>
    </section>
    
    <section>
        <h2 class="category-text">Нови продукти</h2>
        
        <div class="items-list">
            <div class="item">
                <img src="../static/images/нов-сапун.jpg" alt="">
                <h3>Сапун с формата на слонче с аромат на ванилия</h3>
                <p>Нежен сапун с натурални съставки за ежедневна грижа.</p>
                <a href="">Виж повече</a>
            </div>
            
            <div class="item">
                <img src="../static/images/нови-украси.jpg" alt="">
                <h3>Красиви и елегантни чаши, със съпунчета във формата на цветя вътре</h3>
                <p>Уникална украса, която би внесла не само хубав аромат, но и би украсило вашия дом</p>
                <a href="">Виж повече</a>
            </div>
            
            <div class="item">
                <img src="../static/images/IMG_4230.jpg" alt="">
                <h3>Декорирана книга</h3>
                <p>Красива украса съдържаща книга и малки плодове, които са сапунчета</p>
                <a href="{% url 'product-details' decorated_book.id %}">Виж повече</a>
            </div>
        </div>
    </section>
    
    <section class="delievery">
        <h2>Как доставяме</h2>
        <h3>🚚 Всички поръчки направение в делничен ден до 17ч могат да бъдат доставени чрез Speedy</h3>
        <div class="img-div">
            <img src="https://www.speedy.bg/uploads/file_manager_uploads/Pics/speedy-logo-4c--cmyk.jpg" alt="">
        </div>
    </section>
    
    <section class="call-by-phone">
        <h2>Поръчай по телефона</h2>
        <p>Можете също да поръчате чрез обаждане на: +359 87 860 1157</p>
    </section>
    
    <section class="reviews">
        <h2>Какво казват клиентите ни?</h2>
        <section>
            <section class="mySlides" id="review-item">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                <p>"Сапуните са невероятни! Миризмата и качеството са чудесни."</p>
                <p>- Вилма.С</p>
                <div class="icons">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
            </section>

            <section class="mySlides" id="review-item">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                <p>"Украшенията направиха дома ми много по-уютен."</p>
                <p>- Иван К.</p>
                <div class="icons">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
            </section>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </section>
    </section>
    
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
    </div>
    
    <section class="contact">
        <h2>Свържете се с нас</h2>
        <form action="" method="POST" class="contact-form">
            {{ message_form }}
            {% csrf_token %}
            <button type="submit">Изпрати</button>
        </form>
    </section>
    
{% endblock %}