{% extends 'base.html' %}

{% block content %}
    
    
    
    <article class="login">
        
        <form action="{% url 'login' %}" method="post">
            <h2>Вход</h2>
            {{ form }}
            {% csrf_token %}
            <a href="" class="forgot-pass"><p>Забравена парола?</p></a>
            
            <button class="login-btn">ВХОД</button>
            
            <h5>Или се регистрирайте с:</h5>
            <div class="icons">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>
            
            <div class="registration-wrap">
                <h5>Или се регистрирайте с:</h5>
                <a href="{% url 'register' %}" class="registraion-link"><p>РЕГИСТРАЦИЯ</p></a>
            </div>
        </form>
    </article>
    
{% endblock %}