{% extends 'base.html' %}
{% block content %}
    
    <main class="logout-art">
        <h2>Сигурен ли си че искаш да излезеш от акаунта си?</h2>
    
        <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button class="logout-btn"><i class="fa-solid fa-check"></i>Yes</button>
            <a href="javascript:history.back()"><button class="no-btn"><i class="fa-solid fa-x"></i>No</button></a>
            
        </form>
    </main>
    
{% endblock %}