{% extends 'base.html' %}
{% load calculate_euro %}
{% load static %}

{% block content %}

    <section class="item-details">
        <div class="img-wrapper">
            <img id="main-image" src="{{ product.product_image.url }}" alt="Комплект книга със сапуни във формата на плодове">

            <div class="gallery">
                <img src="{{ product.product_image.url }}" alt="Снимка 1">
                
                {% if product.second_product_image %}
                    <img src="{{ product.second_product_image.url }}" alt="Снимка 2">
                {% endif %}
            </div>
        </div>

        <div class="text-wrapper">
            <h1>{{ product.product_description }}</h1>

            <p class="price">Цена: {{ product.product_price }}лв/{{ product.product_price|to_eur }}€</p>

            <p>
                {{ product.first_long_description }}
            </p>

            <p>
                {{ product.second_long_description }}
            </p>

            <h3>Подходящ за:</h3>
            <ul>
                <li>Луксозен и оригинален подарък</li>
                <li>Хора, които ценят ръчно изработени и артистични изделия</li>
                <li>Декоративен акцент за банята или дома</li>
            </ul>

            <a href="" class="buy-btn"><i class="fa-solid fa-cart-shopping"></i>Добави в количката</a>
        </div>
    </section>


{% endblock %}
