{% extends 'base.html' %}
{% load calculate_euro %}
{% load get_cart_length %}
{% load static %}

{% block content %}

    <section class="item-details">
        <div class="img-wrapper">
            <img id="main-image" src="{{ product.product_image.url }}" alt="Комплект книга със сапуни във формата на плодове">

            <div class="gallery">
                <img src="{{ product.product_image.url }}" alt="Снимка 1">
                
                {% if product.second_product_image %}
                    <img src="{{ product.second_product_image.url }}" alt="Снимка 2">
                {% endif %}
            </div>
        </div>

        <div class="text-wrapper">
            <h1>{{ product.product_description }}</h1>

            <p class="price">Цена: {{ product.product_price }}лв/{{ product.product_price|to_eur }}€</p>

            <p>
                {{ product.first_long_description }}
            </p>

            <p>
                {{ product.second_long_description }}
            </p>

            <h3>Подходящ за:</h3>
            <ul>
                {% for text in split_text %}
                    <li>{{ text }}</li>
                {% endfor %}
            </ul>

              <form class="add-to-cart-form" action="{% url 'add-to-cart' product.id %}" method="post">
                  {% csrf_token %}
                <button class="buy-btn"><i class="fa-solid fa-cart-shopping"></i>Добави в количката</button>
            </form>    
        </div>
    </section>
    
    <div class="reviews-div">
            <p>Само хората купили конкретен продукт могат да дадат своя отзив за него!</p>
    
            <form action="" method="post" class="opinion-form">
                <label for="opinion">Какво мислиш за продукта:</label>
                <input type="text" placeholder="Въведи мнение за продука......." name="opinion" id="opinion">
                <div id="full-stars-example-two">
                <div class="rating-group">
                    <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                    <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input checked class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                    <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                    <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                    <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                    <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
                </div>
            </div>
                
                <button class="opinion-btn-submit" type="submit">Изпрати</button>
            </form>
    </div>
{% endblock %}
