{% extends 'base.html' %}
{% block content %}
    <header class="profile-header-gift">
    <h1>Моят профил</h1>
  </header>

  <section class="profile-header">
    {% if not profile.profile.profile_picture %}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvpUGO1rrA9pDJw9s-2dEpcr2qCv_yGZR5EA&s" alt="Profile picture" class="profile-pic">
    {% else %}
    <img src="{{ profile.profile.profile_picture.url}}" alt="Profile picture" class="profile-pic">
    {% endif %}
    <div class="things-div">
        <h2>Здравейте, {{ profile.profile.get_profile_full_name }}!</h2>
        <p>Добре дошли обратно 💜</p>
    </div>
  </section>

  <section class="profile-info">
    <h3>Моята информация</h3>
    <ul>
      <li><strong>Имейл:</strong> {{ request.user.email }}</li>
    </ul>
    <button><a href="{% url 'edit-profile' request.user.pk %}" class="edit-profile-btn">Редактирай</a></button>
  </section>

  <section class="profile-orders">
    <h3>Моите поръчки</h3>
    <table>
      <tr>
        <th>Номер</th>
        <th>Продукт</th>
        <th>Дата</th>
        <th>Статус</th>
      </tr>
      
      {% for order in orders %}  
      <tr>
        <td>#1001</td>
        <td>Сапун Лавандула</td>
        <td>12.09.2025</td>
        <td>Доставено</td>
      </tr>
        
      {% endfor %}  
    </table>
  </section>

  <section class="profile-settings">
    <h3>Настройки</h3>
    <ul>
      <li><a href="{% url 'logout' %}">Изход</a></li>
    </ul>
  </section>
{% endblock %}