{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}
    
    <article class="login">
        
        <form action="{% url 'register-by-me' %}" method="post">
            <h2>Регистрация</h2>
            {{ form }}
            {% csrf_token %}
            
            <button class="registration-btn">РЕГИСТРАЦИЯ</button>
            
            <div class="icons">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href="{% provider_login_url 'google' process='login' %}?prompt=select_account"><i class="fa-brands fa-google"></i></a>
            </div>

            <div class="have-an-account-wrapper">
                <h5>Имаш акаунт? <a href="{% url 'login-by-me' %}">Вход</a></h5>
            </div>
        
        </form>
    </article>
    
{% endblock %}
