{% extends 'base.html' %}

{% block content %}
    
    <article class="login">
        
        <form action="">
            <h2>Регистрация</h2>
            <label for="username">Имейл</label>
            <input type="email" name="email" id="username" required placeholder="Въведи твоят имейл">
            
            <label for="password">Парола</label>
            <input type="password" name="password" id="password" required placeholder="Въведи твоята парола">
            
            <label for="password-conf">Потвърждение на паролата</label>
            <input type="password-conf" name="password-conf" id="password-conf" required placeholder="Въведи твоята парола отново">
            
            
            <a href="" class="registration-btn">РЕГИСТРАЦИЯ</a>
            
            <div class="icons">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
            </div>

            <div class="have-an-account-wrapper">
                <h5>Имаш акаунт? <a href="">Вход</a></h5>
            </div>
        
        </form>
    </article>
    
{% endblock %}