{% extends 'base.html' %}
{% load calculate_euro %}
{% block content %}
     
    <section class="filters">
        <select name="filters" id="filters">
            <option value="По подразбиране">Подреждане по подразбиране</option>
            <option value="Първо най-популярните">Първо най-популярните</option>
            <option value="Първо най-новите">Първо най новите</option>
            <option value="Първо най-скъпите">Първо най-скъпите</option>
            <option value="Първо най-евтините">Първо най-евтините</option>
        </select>
    </section>
    
    <section class="sell-items">
    {% for product in soaps_queryset %}
        
        <section class="item-for-sale">
            <img src="{{ product.product_image.url }}" alt="{{ product.product_description }}">
            <div class="text-items">
                <h2>{{ product.product_description }}</h2>
                {% if product.product_type == 'Сапуни' %}
                    <p><a href="{% url 'soaps' %}">{{ product.product_type }}</a></p>
                    
                {% endif %}
                <p>{{ product.product_price }}лв/{{ product.product_price|to_eur }}€</p>
                <p>Курс: 1 EUR = 1.95583 BGN</p>
                
                {% if product.is_available %}
                
                    <p>В наличност ✅</p>
                
                {% else %}
                    <p>Не е в наличност ❎</p>
                
                {% endif %}
                <a href="{% url 'product-details' product.pk %}">Виж повече</a>
            </div>
        </section>
    {% endfor %}
    
    </section>
    
    <div class="pagination"> 
            <span class="current"> 
                Страница {{ soaps_queryset.number }} от {{ soaps_queryset.paginator.num_pages }} 
            </span> 
            <span class="step-links-buttons"> 
                {% if soaps_queryset.has_previous and soaps_queryset.has_next %} 
                    <a href="?page={{ soaps_queryset.previous_page_number }}"> 
                        <i class="fa-solid fa-arrow-left"></i> </a> 
                    <a href="?page={{ soaps_queryset.next_page_number }}"> 
                        <i class="fa-solid fa-arrow-right"></i> </a> 
                {% elif soaps_queryset.has_previous %} 
                    <a href="?page={{ soaps_queryset.previous_page_number }}"> 
                        <i class="fa-solid fa-arrow-left"></i> </a> 
                {% elif soaps_queryset.has_next %} 
                    <a href="?page={{ soaps_queryset.next_page_number }}"> 
                        <i class="fa-solid fa-arrow-right"></i> </a> 
                {% endif %} 
            </span> 
    </div> 
{% endblock %}