.login {
    min-height: 70dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article > form {
    box-shadow: 0 5px 35px rgba(0,0,0,0.1);
    padding: 2em;
    min-width: 500px;
    border-radius: 0.5em;
}

article > form > h2 {
    text-align: center;
    margin-bottom: 1em;
}

article > form:hover {
    transform: translateY(-5px);
    transition: ease-in-out 0.4s;
}

article > form:not(h2) {
    display: flex;
    flex-direction: column;
}

#username {
    margin-bottom: 2em;
}

article > form > div  input {
    border: none;
    border-bottom: 1px solid black;
}

label {
    margin-bottom: 0.3em;
    font-size: 0.7em;
}

.forgot-pass {
    font-size: 0.8em;
    text-align: right;
    margin-top: 1em;
}

form > a:nth-child(6):hover, .registraion-link:hover {
    color: #3E5A97;
    transition: 0.3s ease-in;
}

form > a:nth-child(6) {
    text-decoration: none;
    color: black;
}

.login-btn {
    text-align: center;
    margin-top: 1.5em;
    text-decoration: none;
    padding: 0.6em 0.5em;
    background: darkorange;
    color: white;
    border-radius: 1em;
}

form > a:nth-child(7):hover {
    opacity: 0.6;
    transition: 0.4s ease-out;
}

article > form > h5 {
    text-align: center;
    margin-top: 2em;
    font-size: 0.8em;
    font-weight: 400;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.icons > a:first-child {
    text-decoration: none;
    background: #3E5A97;
    padding: 0.4em;
    text-align: center;
}

.icons > a:first-child > i, .icons > a:last-child > i {
    color: white;
}

.icons > a:last-child {
    text-decoration: none;
    background: #DA4C3E;
    padding: 0.4em;
    text-align: center;
}

.icons > a {
    border-radius: 50%;
    transition: transform 0.3s, opacity 0.3s;
}
  

.icons > a:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.registration-wrap {
    text-align: center;
    margin-top: 10em;
}

.registration-wrap > h5 {
    margin-bottom: 0.5em;
}

.registration-wrap > a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

article > form > input::placeholder {
    opacity: 0.6;
}

article > form > input {
    padding: 0;
    height: 2.5em;
    line-height: 2.5em; 
}
  